*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --orange: #ff8f00;
}

nav{
    height: 70px;
}

nav i{
    display: none;
    margin: 0px 10px;
}

.bi-bell-fill{
    color: var(--orange);
}

.ms_search{
    background-color: #e5e5e5;
}

.ms_smlogo{
    width: 50px;
}

.ms_margin{
    margin-right: 15px;
}

main{
    height: calc(100vh - 70px);
    overflow-y: hidden;
}

aside{
    height: calc(100vh - 70px);
    width: 70px;
    background-color: #051e34
}

.ms_sidebar-top{
    height: calc(100% - 50px);
}

.ms_sidebar-bottom{
    height: 50px;
}

.ms_sidebar ul li{
    list-style: none;
}

.ms_content{
    width: calc(100% - 70px);
}

#studenti{
    background-color: #1b72e8;
}

.ms_plus{
    margin: 30px 0px;
    font-weight:800;  
}

.ms_pill{
    background-color: #165bba;
}

@media screen and (min-width: 992px){
    aside{
        width: 145px;
    }

    .ms_content{
        width: calc(100% - 145px);
    
    }

    
}